.button{
    font-family: $font-primary;
    background-color: $clr-light;
    color: $clr-primary;
    text-decoration: none;
    
    &-primary{
        font-size: 24px;
        padding-inline: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
    }
    &-secondary{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-inline: 20px;
        border-radius: 5px;
        
        &-color{
            background-color: $clr-primary;
            color: $clr-light
        }
    }
    
}

