h1, h2, h3{
    font-size: $font-title-size;
    color: $clr-light;
    font-family: $font-primary;
}
h1{
    font-size: 126px;
}
h2{
    font-size: 52px;
}
h3{
    font-size: 44px;
}
p{
    font-size: 18px;
}