.presentation{
    height:100vh;
    width: 100%;
    background-image: url(../../img/background_motif.png);
    background-repeat: repeat;
    @include flex-base(flex-end);
    overflow: hidden;

    &-content{
        @include flex-base();
        flex-direction: column;
        transform: translateX(10vw);

        &-title{
            color: $clr-primary;
        }
        &-text{
            color: $clr-secondary;
        }
        a{
            align-self:flex-start;
        }
        gap:15px;
    }
    img{
        object-fit: cover;
        transform: translateX(10vw);
    }
}